<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        ">

    <context:component-scan base-package="com.qingqingmr.qqmr.web.controller" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <context:annotation-config/>

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxInMemorySize" value="4096"/>
        <!-- 10M -->
        <property name="maxUploadSize" value="10485760"/>
        <property name="uploadTempDir" value="/data/upload/tmp/"/>
    </bean>

    <!-- 拦截器 -->
    <mvc:interceptors>
        <!-- 权限拦截 -->
        <!--<mvc:interceptor>
            <mvc:mapping path="/back/**"/>
            <mvc:exclude-mapping path="/back/login"/>
            <mvc:exclude-mapping path="/back/home"/>
            <mvc:exclude-mapping path="/back/dropout"/>
            <bean class="com.qingqingmr.qqmr.web.interceptor.BackRightInterceptor"/>
        </mvc:interceptor>-->
        <!-- 登录拦截 -->
        <mvc:interceptor>
            <mvc:mapping path="/back/**"/>
            <mvc:exclude-mapping path="/back/login"/>
            <mvc:exclude-mapping path="/back/dropout"/>
            <bean class="com.qingqingmr.qqmr.web.interceptor.BackLoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- dev模式才配置 -->
    <beans profile="dev">
        <mvc:cors>
            <mvc:mapping path="/**" allowed-origins="*" allow-credentials="false" allowed-headers="*"
                         allowed-methods="*" max-age="3600"/>
        </mvc:cors>
    </beans>
</beans>