<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingqingmr.qqmr.dao.DistributionRuleMapper">
    <resultMap id="BaseResultMap" type="com.qingqingmr.qqmr.domain.entity.DistributionRule">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="time" property="time" jdbcType="TIMESTAMP"/>
        <result column="role" property="role" jdbcType="TINYINT"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="rule" property="rule" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, time, role, type, rule
  </sql>

    <!--查询所有的分销规则-->
    <select id="listAllDistributionRule" resultType="com.qingqingmr.qqmr.domain.entity.DistributionRule">
        select <include refid="Base_Column_List"/> from t_distribution_rule
    </select>

    <!--更新分销规则-->
    <update id="updateDistributionRule" parameterType="com.qingqingmr.qqmr.domain.entity.DistributionRule">
    update t_distribution_rule
    set time = now(), rule = #{rule}
    where role = #{role} and type = #{type}
  </update>
</mapper>